@import "breakpoint";
@import "compass";

$small: max-width 450px;
$medium: 450px 890px;
$large: min-width 880px;

html{
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
  background-image:url('../images/back.png');
	background-repeat:repeat;
  @include breakpoint($small){
    //background-image: none;
    //background-color:green;
  }
  @include breakpoint($medium){
    //background-image: none;
    //background-color:blue;
  }
}

#nav-bar{
	width: 100%;
	min-width: 300px;
	height: 80px;
	@include background-image(linear-gradient(#8C8C8C, #4D4D4D));
	@include box-shadow(#8C8C8C 1px 6px 15px);
	// margin-top: -20px;
	padding: 0px;
}
#inner-nav{
	padding: 10px 10px 10px 60px;
}

.largeCon{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.card{
	width: 106px;
	height: 171px;
	background-color: #18852A;
	font-size: 28px;
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	@include border-radius(12px);

	.card-head{
		height: 35px;
		padding-top: 3px;
		padding-left: 10px;
	}
	.card-body{
		padding-top: 3px;
		padding-left: 10px;
		font-size: 15px;
		ul.card-ul{
			display: inline-block;
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			font-size: 10px;
			width: 30px;
			float: right;
			
		}
		ul.card-ul-label{
			margin: 0px;
			padding: 0px;
			float: left;
			list-style-type: none;
			position: fixed;
			font-size: 10px;
			width: 30px;
		}
	}
	.card-line{
		height: 3px;
		width: 106px;
		background-color: #A79A9A;
	}
	/*transition*/
	-webkit-transition:0.6s;
	   -moz-transition:0.6s;
	     -o-transition:0.6s;
	        transition:0.6s;
	/*transform-style*/
	-webkit-transform-style:preserve-3d;
	   -moz-transform-style:preserve-3d;
	    -ms-transform-style:preserve-3d;
	     -o-transform-style:preserve-3d;
	        transform-style:preserve-3d;
	position:relative;
}
.card-con{
-webkit-perspective:1000;
   -moz-perspective:1000;
   -ms-perspective:1000;
   -o-perspective:1000;
   perspective:1000;
   width: 106px;
   display: inline-block;
   margin: 15px 7px 10px 10px;
}

.flipped {
/*transform*/
-webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}

.card-front{
	z-index:2;
	-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
	position:absolute;
	top:0;
	left:0;
}
.card-back {
	.back-info{
		margin: 10px;
		ul.card-ul{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
		}
	}
	font-size: 12px;
	width: 106px;
	height: 171px;
   -webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}